.lbl{
    font-family: "Times New Roman", serif;
    font-size: medium;
}

.container{
    max-width: 600px;
    margin: 0 auto;
    display:flex;
    justify-content: space-around;
    align-items:center;
    margin-bottom: 10px;
}

#outer-circle{
    stroke: black;
    fill: white;
}

#inner-circle{
    fill: black;
    stroke: none;
}

#hour-hand, #minute-hand, #second-hand{
    stroke: black;
    stroke-linecap: round;
}